# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment files
.env
.env.*
!.env.example

# Virtual environments
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Version control
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db
